:root {
    --background2: #ffffffee; 
    --background: #fffffffb; 
    --textcolor: black;
    --bordercolor: #000;
    --bordercoloravt: rgba(0, 0, 0, 0.507);
    --bordercoloravt2: rgba(0, 183, 255, 0.521);
    --NotificationTEXT: black;
    --Notification: white;
    --AnimationDarkMode:iconAnimation2 0.2s;
    --transform:rotate(0deg);
    --colorBG:linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  }
  .darkmode {
    --background: #242424; 
    --background2: #000; 
    --textcolor: white;
    --bordercolor: #fff;
    --bordercoloravt:rgba(172, 255, 47, 0.384);
    --bordercoloravt2: rgb(71, 224, 140);
    --Notification: transparent;
    --NotificationTEXT: white;
    --AnimationDarkMode:iconAnimation1 0.2s ;
    --transform:rotate(0deg);
    --colorBG:linear-gradient(70deg, #283E51, #0A2342 ,#000,#000,#000, #610a3f ,#1c2bb3, #0e3129);
  }
  
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  body {
    background-color: var(--background);
    color: var(--textcolor);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--colorBG);
    background-size: 400%;
    animation: gradient 5s ease infinite;
  }
  
  .logo {
    align-items: center;
    text-align: center;
    background-color: var(--background);
    margin: 10px 5px ;
    padding: 10px 0;
    border-radius: 12px;
    border: 3px solid var(--bordercolor) ;
  }
  .logo img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 3px solid var(--bordercolor);
  }
  .logo h1 {
    text-transform: uppercase;
    font-size: 30px;
  }
  
  .logo2 {
    display: none;
    background-color: var(--background2);
    border-radius: 12px;
    border: 3px solid var(--bordercolor) ;
    position: fixed;
    width: 100%;
    top: 0;
    animation: Logo 0.8s;
    text-align: center;
  }
  .logo2 h2 {
    padding: 10px 0;
  }

  
  
  .search {
    background-color: var(--background);
    align-items: center;
    text-align: center;
    margin: 10px 5px ;
    padding: 5px 0;
    border-radius: 12px;
    border: 3px solid var(--bordercolor) ;
  }
  .search #timkiem {
    color: var(--textcolor);
    background-color: var(--background);
    width: 80%;
    padding: 10px;
    font-size: 17px;
    border: 3px solid var(--bordercolor);
    border-radius: 10px;
  }
  #timkiem::placeholder {
    color: var(--textcolor);
  }
  .search button {
    width: 15%;
    padding: 10px;
    background: var(--background);
    color: var(--textcolor);
    font-size: 17px;
    cursor: pointer;
    border: 3px solid var(--bordercolor);
    border-radius: 10px;
  }
  
  .banner {
    background-color: var(--background);
    align-items: center;
    text-align: center;
    margin: 10px 5px ;
    padding: 5px 0;
    border-radius: 12px;
    border: 3px solid var(--bordercolor) ;
  }
  .banner img {
    height: 420px;
    width: 98%;
    border-radius: 15px;
    border: 2px solid var(--bordercolor) ;
    margin: 5px 0;
  }
  .banner h1 {
    text-transform: uppercase;
    font-size: 40px;
}
  .banner h2 {
      text-transform: uppercase;
      font-size: 20px;
  }
  ul {
      text-align: left;
      margin: 0px 0 0px 25px;
  }
  li {
      margin: 5px 0;
  }
  .banner p {
    font-size: 15px;
  }
  .store {
    background-color: var(--background);
    margin: 10px 5px;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    border: 3px solid var(--bordercolor) ;
  }
  .store:after {
    content: "";
    display: table;
    clear: both;
  }
  .store h1 {
    margin: 10px;
  }
  .info {
    padding: 10px 0;
    background-color: var(--background);
    margin: 10px 5px;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    border: 3px solid var(--bordercolor) ;
  }
  .info img {
    margin: 10px 0 5px 0;
    height: 100px;
    border-radius: 50%;
    border: 4px solid var(--bordercoloravt2);
  }
  .info p {
      font-size: 20px;
      font-weight: bold;
  }
  
  .column {
    float: left;
    margin: 0 2.5%;
    width: 45%;
    margin-bottom: 16px;
  }
  
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 5px 0;
    border: 2px solid var(--bordercolor);
  }
  .card img {
    border-radius: 10px;
    width: 120px;
    height: 120px;
  }
  .vjp {
    font-size: 18px;
  }
  
  .noidung {
    text-align: center;
    padding-bottom: 15px;
  }
  
  .noidung::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: red;
  }
  
  .bnt1 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    padding: 8px;
    color: var(--textcolor);
    background-color: var(--background);
    text-align: center;
    width: 80%;
    border: 2px solid var(--bordercolor);
    box-shadow: 0 5px var(--bordercolor);
  }
  
  .bnt1:active {
    background-color: var(--textcolor);
    color: var(--background);
    box-shadow: 0 2px var(--bordercolor);
    transform: translateY(5px);
  }
  
  .menu {
    position: fixed;
    bottom: 5px;
    right: 5px;
    height: 50px;
    width: 50px;
    background-color: var(--background);
    text-align: center;
    border-radius: 15px;
    border: 3px solid var(--bordercolor);
    animation: Menu 0.5s;
  }
  #icon {
    font-size: 25px;
    color: var(--textcolor);
    padding: 10px;
  }
  #iconMess{
    font-size: 25px;
    color: var(--textcolor);
    padding: 10px;
  }
  #iconleft {
    width: 15%;
    font-size: 25px;
    padding: 10px;
    float: left; 
    background-color: Notification;
    color: var(--textcolor);
    margin: 0;
    border-radius: 10px 0 0 10px;
  }
  #iconright {
    width: 15%;
    font-size: 25px;
    color: black;
    padding: 10px;
    float: right; 
    background-color: transparent;
    color: var(--textcolor);
    margin: 0;
    border-radius: 0 10px 10px 0;
  }
  
  .mess {
    position: fixed;
    bottom: 60px;
    right: 5px;
    height: 50px;
    width: 50px;
    background-color: var(--background);
    text-align: center;
    border-radius: 15px;
    border: 3px solid var(--bordercolor);
    animation: Mess 0.2s ;
  }
  .wallet {
    position: fixed;
    bottom: 115px;
    right: 60px;
    height: 50px;
    width: 50px;
    background-color: var(--background);
    text-align: center;
    border-radius: 15px;
    border: 3px solid var(--bordercolor);
    animation: Wallet 0.2s ;
  }
  .money {
    margin: 20px 0;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
  }
  .menuON1 {
    position: fixed;
    bottom: 60px;
    right: 5px;
    height: 50px;
    width: 50px;
    background-color: var(--background);
    text-align: center;
    border-radius: 15px;
    border: 3px solid var(--bordercolor);
    animation-name: iconMENUa;
    animation-duration: 0.5s;
  }
  
  .menuON2 {
    position: fixed;
    bottom: 5px;
    right: 60px;
    height: 50px;
    width: 83%;
    background-color: var(--background);
    text-align: center;
    border-radius: 15px;
    border: 3px solid var(--bordercolor);
    animation-name: iconMENU2a;
    animation-duration: 0.5s;
  }
  .menuON3 {
    position: fixed;
    bottom: 60px;
    right: 60px;
    height: 50px;
    width: 50px;
    background-color: var(--background);
    text-align: center;
    border-radius: 15px;
    border: 3px solid var(--bordercolor);
    animation-name: iconDark;
    animation-duration: 0.5s;
  }
  .menuON4 {
    position: fixed;
    bottom: 5px;
    right: 60px;
    height: 50px;
    width: 50px;
    background-color: var(--background);
    text-align: center;
    border-radius: 15px;
    border: 3px solid var(--bordercolor);
  -webkit-animation: iconNoi 0.2;
    animation: iconNoi 0.2s;
  }
  
  marquee {
    font-size: 20px;
    padding: 5px 0;
    width: 70%;
    height: 44px;
    background-color: var(--Notification);
    color: var(--NotificationTEXT);
  }
  
  footer {
    background-color: var(--background);
    color: var(--textcolor);
    margin: 5px;
    text-align: center;
    align-items: center;
    height: 50px;
    border-radius: 12px;
    border: 3px solid var(--bordercolor) ;
    padding: 5px ;
  }
  hr {
    margin: 10px 20px;
    height: 3px;
    border: none;
    border-radius: 2px;
    background: var(--bordercolor);
      background-size: 400%;
      animation: gradient 5s ease infinite;
  }
  
  
  .blog {
    background-color: var(--background);
    align-items: center;
    text-align: center;
    margin: 10px 5px ;
    padding: 5px 0;
    border-radius: 12px;
    border: 3px solid var(--bordercolor) ;
  }
  .blog .left {
    margin: 5px 15px;
    text-align: left;
  }
  .blog p {
    margin:10px ;
  }
  .blog img {
    height: 100px;
    margin: 0px 0px 0 15px;
    border: 3px solid var(--bordercolor);
    border-radius: 3px;
  }
  .team {
    background-color: var(--background);
    align-items: center;
    text-align: center;
    margin: 10px 5px ;
    border-radius: 12px;
    border: 3px solid var(--bordercolor) ;
  }
  .profile {
    width: 95%;
    margin: 10px 8px;
    padding: 50px 0px;
    background: var(--colorBG);
      background-size: 400%;
      animation: gradient 10s ease infinite;
    border-radius: 12px;
    border: 2px solid var(--bordercolor);
  }
  .profile img {
    border-radius: 50%;
    border: 3px solid var(--bordercoloravt);
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .profile i {
    font-size: 25px;
    color: var(--textcolor);
  }
  #iconsocial {
    margin: 10px 10px 0 10px;
    font-size: 40px;
  }
  #iconsocial2 {
    margin: 10px 10px 0 10px;
    font-size: 40px;
  }
  .like {
    background-color: transparent;
    border: none;
  }
  
  
  .verified {
    position: relative;
    display: inline-block;
  
  }
  .verified i {
    color: greenyellow;
    text-transform: uppercase;
  }
  
  .verified .verifiedicon {
    left: 30px;
    visibility: hidden;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.849);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0 ;
    font-size: 15px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    border: 2px solid var(--bordercolor);
  }
  
  .verified:hover .verifiedicon {
    visibility: visible;
  }
  
  @keyframes iconAnimation1 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }
  
  @keyframes iconAnimation2 {
    0% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
  }
  
  @media screen and (max-width: 650px) {
    .banner img {
      height: 140px;
      width: 340px;}
  
    .verified .verifiedicon {
        top: -30px;
        left: 30px;
      height: 35px;
    width: 110px;}
  }
  
  
  #iconDarkMode {
    font-size: 25px;
    color: var(--textcolor);
    padding: 10px;
    animation: var(--AnimationDarkMode);
    transform:var(--transform);
  }
  
  
  
  .dichvu {
    padding: 10px 0;
    background-color: var(--background);
    margin: 10px 5px;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    border: 3px solid var(--bordercolor) ;
  }
  .dichvu h2 {
    margin: 10px 0;
  }
  .dichvu button {
    background-color: var(--background); 
    border: none;
    color: var(--textcolor);
    padding: 10px 5px;
    margin: 0 2px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid var(--bordercolor);
  }
  
  /* @keyframes rainbow { 
    0%{background-position:left}
    50%{background-position:right}
    100%{background-position:left}
  } */
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: var(--background);
    margin: auto;
    padding: 20px;
    border: 3px solid var(--bordercolor);
    width: 80%;
    border-radius: 10px;
  }
  
  /* The Close Button */
  .close {
    color: var(--bordercolor);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}